@import url("./reset.css");
@import url("./variables.css");
@import url("./positioning.css");
@import url("./index.css");
@import url("./exhibitions.css");
@import url("./visit.css");
@import url("./getinvolved.css");
@import url("./contact.css");
@import url("./document.css");
@import url("./mediaqueries.css");



@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

/* Global stylesheet for repetetive styling */
/* Stylesheet also includes styling for header and footer */

.button-dropdown {
    font-family: "M PLUS 1", sans-serif;
    background-color: var(--magenta);
    font-size: 1.8rem;
    color: var(--white);
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid var(--dark-magenta);
    cursor: pointer;
}

.button-dropdown:hover {
    background-color: var(--black);
    border: 4px solid var(--magenta);
}


.dropdown-nav {
    position: relative;
    display: inline-block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    text-align: center;
    z-index: 1;
}

.a-header {
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
}

.a-header:hover {
    text-decoration: underline 4px var(--magenta);
}


.dropdown-nav:hover .dropdown-links {
    display: block;
}


body {
    background-color: var(--white);
    color: var(--black);
    font-family: "lato", sans-serif;
}

main {
    max-width: 1240px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* Text-styling */
h1 {
    margin-top: 30px;
}

h2 {
    margin-top: 80px;
}

h1, h2 {
    font-size: 2rem;
    border-bottom: 2px solid var(--white);
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h1, 
h2, 
nav,
.subheadline-magenta,
.subheadline-turquoise {
    font-family: "M PLUS 1", sans-serif;
}

.subheadline-bigger {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-top: 5px;
}

.bigger {
    font-size: 1.25rem;
}

.headline {
    background-color: var(--black);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: var(--white);
    height: 100px;
}

.white {
    color: var(--white);
    font-size: 1.25rem;
}

.bold {
    font-weight: bold;
}

.bold-big {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 15px;
}

a {
    font-size: 1.5rem;
}

footer {
    background-color: var(--black);
}


.subheadline-turquoise,
.subheadline-magenta {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}

.subheadline-turquoise {
    border-bottom: solid 2px var(--turquoise);
}

.subheadline-magenta {
    border-bottom: solid 2px var(--magenta);
}



/* Textbox-styling */
.textbox-intro,
.textbox-explore-children,
.textbox-explore-teachers-researchers,
.textbox-explore-event,
.textbox-event,
.textbox-exhibition,
.textbox-visitor-info,
.textbox-at-museum,
.textbox-get-involved,
.container-contact,
.container-contact-form,
.container-terms,
.container-privacy {
    background-color: var(--light-grey);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding-left: 10px;
    padding-right: 10px;
}

.textbox-CTA {
    background-color: var(--light-grey);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 610px;
    height: 120px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}



/* Image-styling */
.img-header {
    width: 100%;
    height: auto;
}

.img-get-involved {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


/* Button Styling */
.CTA-magenta,
.CTA-turquoise {
    width: 270px;
    height: 20px;
    padding-top: 14px;
    padding-bottom: 18px;
    text-align: center;   
    margin: auto;
    margin-top: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}


.CTA-magenta {
    background-color: var(--magenta);
    border: 0.5px solid var(--dark-magenta);
    
}

.CTA-turquoise {
    background-color: var(--turquoise);
    border: 0.5px solid var(--dark-turquoise);
}

.CTA-magenta:hover,
.CTA-magenta:active {
    background-color: var(--dark-magenta);
}

.CTA-turquoise:hover,
.CTA-turquoise:active {
    background-color: var(--dark-turquoise);
}


.a-inline {
    font-size: 1rem;
    color: var(--black);
    text-decoration: underline;
}

/* Header */
.logo {
    width: 200px;
    margin-left: 50px;
}


.header-top {
    height: 160px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    margin-right: 50px;
}


.CTA-header {
    background-color: var(--magenta);
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: 0.5px solid var(--dark-magenta);
}


/* Footer */
footer {
    margin-top: 80px;
    padding-bottom: 20px;
}

.footer-nav-newsletter {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-left,
.nav-right {
    display: flex;
    flex-direction: column;
}

.footer-nav {
    display: flex;
    gap: 50px;
}

.socialmedia {
    width: 40px;
}

.small {
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.link-icons {
    text-align: center;
}

.footer-socialmedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: solid 2px var(--white);
    padding-top: 20px;
    padding-bottom: 20px;

}

.a-footer {
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.button-newsletter {
    width: 120px;
    height: 34px;
    color: var(--white);
    background-color: var(--turquoise);
    border: 2px var(--dark-turquoise);
}

.form-newsletter {
    width: 300px;
    height: 34px;
    border: 2px var(--dark-turquoise);
    color: var(--dark-turquoise);
}

.button-newsletter,
.form-newsletter {
    margin-top: 10px;
}

@media (min-width:1010px) and (max-width:1250px) {
    
    /* General styling */
    main {
        width: 1000px;
    }


    /* Exhibitions Page */
    .img-event,
    .img-exhibition,
    .img-museum {
        width: 320px;
        height: auto;
    }

    .img-children {
        max-width: 490px;
    }

    .img-teachers,
    .img-researchers {
        max-width: 237px;
    }

    .textbox-explore-children {
        width: 470px;
        height: 390px;
    }

    .textbox-explore-teachers-researchers {
        width: 217px;
        height: 390px;
    }

    .textbox-event {
        width: 300px;
        height: 260px;
    }

    .textbox-explore-event {
        width: 300px;
    }

    .textbox-exhibition {
        width: 300px;
        height: 390px;
    }

    /* Contact Page */
    .textbox-visitor-info {
        width: 300px;
        height: 260px;

    }

    .textbox-at-museum {
        width: 300px;
    }

}

@media (min-width:710px) and (max-width:1009px) {
    
    main {
        width: 700px;
    }

    .logo {
        width: 160px;
    }

    .header-top {
        height: 140px;
    }

    .button-dropdown {
        width: 200px;
        font-size: 1.6rem;
    }

    .a-header {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .header-nav {
        margin-right: 40px;
    }


    .img-explore-intro {
        resize: none;
    }

    .img-event,
    .img-museum {
        width: 220px;
        height: auto;
    }

    .img-exhibition {
        width: 330px;
    }

    .img-children {
        width: 700px;
    }

    .img-teachers,
    .img-researchers {
        width: 340px;
    }

    .textbox-intro {
        width: 400px;
        height: 300px;
        overflow: scroll;
    }

    .textbox-event {
        width: 200px;
        height: 350px;
    }

    .textbox-exhibition {
        width: 310px;
        height: 400px;
    }

    .textbox-explore-children {
        max-width: 700px;
        height: 260px;
    }

    .textbox-explore-teachers-researchers {
        max-width: 320px;
        height: 300px;
    }

    .textbox-explore-event {
        width: 200px;
        height: 260px;
    }

   
    .textbox-CTA {
        max-width: 420px;
    }

    .explore-all {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .footer-nav-newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        margin: auto;
    }

    .container-contact,
    .container-contact-form {
        max-width: 680px;
    }

    .contact-form {
        margin-right: 100px;
    }

    .container-get-involved {
        display: flex;
        flex-direction: column;
    }

    .container-get-involved-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .textbox-get-involved {
        width: 680px;
        height: 230px;
    }

    .textbox-visitor-info {
        width: 200px;
        height: 330px;

    }

    .textbox-at-museum {
        width: 200px;
        height: 250px;
    }

    .hours {
        width: 200px;
    }

   
}



@media (min-width:300px) and (max-width:709px) {
    main {
        width: 300px;
    }

    .logo {
        width: 100px;
    }

    .header-top {
        height: 100px;
    }

    .button-dropdown {
        width: 130px;
        font-size: 1.2rem;
    }

    .dropdown-links {
        width: 130px;
    }

    .a-header {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    a {
        font-size: 1rem;
    }

    .header-nav {
        margin-right: 30px;
    }

    .img-event,
    .img-exhibition,
    .img-get-involved,
    .img-museum,
    .img-explore-intro {
        width: 300px;

    }

    .textbox-event,
    .textbox-exhibition,
    .textbox-get-involved,
    .textbox-at-museum,
    .textbox-visitor-info,
    .textbox-explore-event {
        width: 280px;
        height: fit-content;
        padding-bottom: 10px;
    }

    .explore-all {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .textbox-intro,
    .textbox-explore-children,
    .textbox-explore-teachers-researchers {
        width: 280px;
        height: 160px;
        overflow: scroll;
    }

    .container-explore-intro {
        display: flex;
        flex-direction: column-reverse;
    }

    .index-events {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .exhibitions-events {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .textbox-CTA {
        max-width: 300px;
    }

    .container-get-involved {
        display: flex;
        flex-direction: column;
    }

    .container-get-involved-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    

    .visit-at-museum,
    .visitor-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .footer-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;
    }

    .footer-nav-newsletter {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }

    .form-newsletter {
        width: 160px;
        height: 30px;
    }

    .button-newsletter {
        width: 90px;
        height: 30px;
    }


    p {
        font-size: 0.9rem;
    }

    .white {
        text-align: center;
        width: 230px;
        margin-top: 20px;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    .headline {
        height: 80px;
    }

    .CTA-magenta,
    .CTA-turquoise {
        width: 200px;
        height: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .container-contact,
    .container-contact-form {
        max-width: 280px;
        height: fit-content;
    }

    
    .contact-form {
        margin-right: 0px;
    }

    .contact-icon {
        width: 30px;
        height: auto;
        margin: 0;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 15px;
    }

    .button-contact-form {
        margin-bottom: 20px;
        width: 200px;
    }

    .footer-newsletter {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

   
    
}
