/* Stylesheet for Visitor Page */
/* Includes unique styling and flexbox/positioning */

/* Styling */
.textbox-at-museum {
    width: 380px;
    height: 160px;
}

.textbox-visitor-info {
    width: 380px;
    height: 250px;
}

.hours {
    font-size: 1.2rem;
    line-height: 1.4rem;
    border-bottom: 1px solid var(--turquoise);
    width: 240px;
    word-spacing: 15px;
}


/* Flexbox/Positioning */
.visitor-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.visit-at-museum {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
